{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['actions.scss'] %}
{% block content %}
  <article class="actions-hero">
    <div class="overlay"></div>
    <div class="wrapper flow color-light">
      <h1 class="text-700 md:text-800 text-center">Nos actions pour l’autonomisation des femmes</h1>
      <p class="center-text text-center">
        La fondation met en place plusieurs activités génératrices de revenus afin de permettre aux filles déscolarisées et aux femmes d’être autonomes, épanouies et indépendantes.
      </p>
    </div>
  </article>

  <section class="actions section">
    <div class="wrapper flow">
      <div class="flow">
        <h2 class="text-600 md:text-700 text-center">Nos actions</h2>
        <p class="text-400 md:text-500 center-text text-center">
          La fondation développe des activités pour l’autonomisation des femmes...
        </p>
      </div>

      <div class="grid" data-layout='thirds'>
        <div class="card action-block">
          <div class="card__header bg-secondary color-light">
            <h3 class="text-500">Actions sociales</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Dons dans divers orphelinats de Brazzaville, Oyo, Pointe-Noire et Ouesso</li>
              <li>Arbre de noël à son domicile, à l'école et sur d'autres sites.</li>
            </ul>
          </div>
        </div>

        <div class="card action-block">
          <div class="card__header bg-tertiary color-light">
            <h3 class="text-500">Engagement institutionnel</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Participation à la création du Conseil Consultatif de la Femme</li>
              <li>Collaboration avec le Ministère de la Femme et ONG</li>
            </ul>
          </div>
        </div>

        <div class="card action-block">
          <div class="card__header bg-secondary color-light">
            <h3 class="text-500">Formation & leadership</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Renforcement des capacités des femmes leaders</li>
              <li>Centre Culturel Américain</li>
            </ul>
          </div>
        </div>

        <div class="card action-block">
          <div class="card__header bg-tertiary color-light">
            <h3 class="text-500">Événements internationaux</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Participation de la Fondation au Congrès International de la Femme Noire à Paris en janvier 2007.</li>
            </ul>
          </div>
        </div>

        <div class="card action-block">
          <div class="card__header bg-secondary color-light">
            <h3 class="text-500">Éducation des enfants</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Concours de dictée, lecture et poésie</li>
              <li>Activités éducatives stimulantes</li>
            </ul>
          </div>
        </div>

        <div class="card action-block">
          <div class="card__header bg-tertiary color-light">
            <h3 class="text-500">Sensibilisation</h3>
          </div>
          <div class="card__body">
            <ul>
              <li>Conférences sur les violences scolaires</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}