{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['contact.scss'] %}
{% block content %}
  <article class="contact-hero section">
    <div class="overlay"></div>
    <div class="wrapper flow color-light">
      <h1 class="text-700 md:text-800 text-center">Contactez-nous</h1>
      <p class="center-text text-center">
        L’unité nous rassemble en tant que communauté, l’amour alimente notre passion pour aider les autres et le soutien est au cœur de tout ce que nous faisons. Au fil des années, nous sommes devenus une organisation à but non lucratif dynamique, dédiée à l'autonomisation par l'éducation et les actions humanitaires.
      </p>
    </div>
  </article>

  <section class="contact-info section bg-light-grey">
    <div class="wrapper flow">
      <div class="grid" data-layout='halves'>
        <div class="info flow">
          <h2 class="text-600 md:text-700">Nos coordonnées</h2>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            <span class="text-300 md:text-400">Brazzaville, République du Congo</span></p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <span class="text-300 md:text-400">+242 06 691 1459</span></p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <span class="text-300 md:text-400">contact.femmenepleurepas@gmail.com</span></p>
          {#           <p>
            <i class="fa-solid fa-clock"></i> Lundi – Vendredi : 09h00 – 17h00</p> #}
        </div>
        <div>
          <div class="map-container">
            <iframe 
      src="https://www.google.com/maps?q=Brazzaville&output=embed"
      width="100%" 
      height="400" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy"></iframe>
          </div>
        </div>

      </div>
    </div>

  </section>

  <section class="section bg-light-grey">
    <div class="wrapper">
      <form class="contact-form">
        <div class="form-group">
          <input type="text" placeholder="Votre nom" required/>
        </div>

        <div class="form-group">
          <input type="email" placeholder="Votre email" required/>
        </div>

        <div class="form-group">
          <select required>
            <option value="">Sujet</option>
            <option>Don</option>
            <option>Bénévolat</option>
            <option>Partenariat</option>
          </select>
        </div>

        <div class="form-group">
          <textarea placeholder="Votre message..." rows="5" required></textarea>
        </div>

        <button type="submit">Envoyer le message</button>
      </form>
    </div>
  </section>
{% endblock %}