{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['gallery.scss'] %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}
  <script src="/gallery.js" defer></script>
  <article class="section page-heading">
    <div class="overlay"></div>
    <div class="wrapper flow color-light">
      <h1 class="text-700 md:text-800 text-center">Notre galerie</h1>
      <p class="center-text text-center">
        Découvrez en images les actions de notre association caritative : solidarité, engagement et impact concret au cœur de nos projets.
      </p>
    </div>
  </article>

  <div class="[ panel dot-shadow ] [ bg-light ]">
    <div class="wrapper">
      <div id="gallery" class="gallery">
        {#         <div class="item"><img src="/images/gallery/img-001.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-002.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-003.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-004.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-005.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-006.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-007.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-008.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-009.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-010.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-011.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-012.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-013.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-014.jpeg" alt=""></div> #}
        {# <div class="item"><img src="/images/gallery/img-015.jpeg" alt=""></div> #}
        {#         <div class="item"><img src="/images/gallery/img-016.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-017.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-018.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-019.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-020.jpeg" alt=""></div> #}
        {# <div class="item"><img src="/images/gallery/img-021.jpeg" alt=""></div> #}
        {#         <div class="item"><img src="/images/gallery/img-022.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-023.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-024.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-025.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-026.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-027.jpeg" alt=""></div> #}
        {# <div class="item"><img src="/images/gallery/img-028.jpeg" alt=""></div> #}
        {#         <div class="item"><img src="/images/gallery/img-029.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-030.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-031.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-032.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-033.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-034.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-035.jpeg" alt=""></div>
        <div class="item"><img src="/images/gallery/img-036.jpeg" alt=""></div> #}
      </div>

      <div id="loader">Chargement des images en cours...</div>

      <!-- Lightbox -->
      <div id="lightbox">
        <img id="lightbox-img">
        <span id="close">&times;</span>
        <span id="prev">&#10094;</span>
        <span id="next">&#10095;</span>
      </div>
    </div>
  </div>
{% endblock %}