{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['home.scss'] %}
{% block content %}
  <script src="/slide.js" defer></script>
  {% include "partials/hero.njk" %}

  <section class="mission section">
    <div class="wrapper">
      <div class="grid item-center" data-layout='halves'>
        <div>
          <img class="height-auto radius-12" src="/images/charity.jpeg" alt="">
        </div>

        <div class="content flow">
          <h2 class="text-700 md:text-800 md:text-left">Nos valeurs</h2>
          <p class="md:text-left">
          Nous croyons qu’aucune personne ne devrait affronter la vie seule. Notre mission est d’accompagner les personnes vulnérables à retrouver leur dignité, leur autonomie et leur espoir.
        </p>
          <div class="mission__list">
            <div class="mission__block">
              <i class="fa-solid fa-hand-holding-heart"></i>
              <p>Soutien aux orphelins</p>
            </div>
            <div class="mission__block">
              <i class="fa-solid fa-people-group"></i>
              <p>Autonomisation des femmes</p>
            </div>
            <div class="mission__block">
              <i class="fa-solid fa-hands-holding"></i>
              <p>Aide aux veuves</p>
            </div>
            <div class="mission__block">
              <i class="fa-solid fa-heart"></i>
              <p>Accompagnement social</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="actions section bg-light">
    <div class="wrapper flow" data-type="wide">

      <h2 class="text-800 text-center">Nos actions</h2>

      <div class="grid" data-layout='thirds'>
        <div class="card">
          <div class="card__header bg-secondary color-light">
            {# <i class="fa-solid fa-hands-holding"></i> #}
            <h3>Soutien aux orphelins</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Aide scolaire</li>
              <li>Matériel éducatif</li>
              <li>Accompagnement social</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-tertiary color-light">
            {# <i class="fa-solid fa-people-group"></i> #}

            <h3>Autonomisation des femmes</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Formation professionnelle</li>
              <li>Accompagnement professionnel</li>
              <li>Leadership féminin</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-secondary color-light">
            {# <i class="fa-solid fa-hands-holding"></i> #}
            <h3>Aide aux veuves</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Soutien psychologique</li>
              <li>Assistance sociale</li>
              <li>Réintégration sociale</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-tertiary color-light">
            {# <i class="color-light fa-solid fa-heart"></i> #}
            <h3>Soutien aux personnes vulnérables</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Programmes de réinsertion</li>
              <li>Écoute attentive</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-secondary color-light ">
            <h3 class="text-500">Engagement institutionnel</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Participation à la création du Conseil Consultatif de la Femme</li>
              <li>Collaboration avec le Ministère de la Femme et ONG</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-tertiary color-light">
            <h3 class="text-500">Formation & leadership</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Renforcement des capacités des femmes leaders</li>
              <li>Centre Culturel Américain</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-secondary color-light ">
            <h3 class="text-500">Événements internationaux</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Participation de la Fondation au Congrès International de la Femme Noire à Paris en janvier 2007.</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-tertiary color-light">
            <h3 class="text-500">Éducation des enfants</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Concours de dictée, lecture et poésie</li>
              <li>Activités éducatives stimulantes</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card__header bg-secondary color-light">
            <h3 class="text-500">Sensibilisation</h3>
          </div>
          <div class="card__body">
            <ul class="flow">
              <li>Conférences sur les violences scolaires</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="impact section bg-impact">
    <div class="wrapper" data-type="wide">
      <div class="impact-grid grid">
        <div class="impact-item">
          <h3>275+</h3>
          <p>Femmes accompagnées</p>
        </div>

        <div class="impact-item">
          <h3>220</h3>
          <p>Orphelins soutenus</p>
        </div>

        <div class="impact-item">
          <h3>115</h3>
          <p>Projets communautaires</p>
        </div>

        <div class="impact-item">
          <h3>300</h3>
          <p>Bénévoles engagés</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials section bg-light">
    <div class="wrapper flow">

      <h2 class="text-800 text-center">Ils témoignent</h2>

      <div class="grid" data-layout='halves'>
        <div class="testimonial">
          <img src="/images/boukaka_allegresse.jpeg" alt="">
          <div class="testimonial-content flow">
            <p>
          Je ne suis plus seul, car la fondation m'a aidé dans mes études, ce qui a amélioré mon avenir.
          </p>
            <strong class="author">BOUKAKA ALLEGRESSE</strong>
          </div>
        </div>
        <div class="testimonial">
          <img class="height-auto" src="/images/kiama_maxime.jpeg" alt="">
          <div class="testimonial-content flow">
            <p>
          Grâce à la fondation, j'ai pu lancer ma petite activité et subvenir aux besoins de mes enfants.
          </p>
            <strong class="author">KIAMA MAXIME</strong>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta section">
    <div class="wrapper" data-type="wide">
      <div class="cta-content">
        <h2 class="text-700 color-secondary text-center">Vous pouvez changer une vie aujourd'hui.</h2>
        <div class="cluster">
          <a href="#" class="button">Faire un don</a>
          <a href="/contact/" class="button" data-variant="ghost">Devenir bénévole</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}