.hero {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../images/hero-01.jpg") center/cover no-repeat;

  color: get-color('light');

  padding-block: 3.5rem;

  &__heading {
    font-size: get-size('700');

    >span {
      color: get-color('secondary-glare');
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  @include media-query('md') {
    padding-block: 8rem;

    &__header {
      max-width: 720px;
      margin-inline: auto;
    }

    &__heading {
      font-size: get-size('900');

      >span {
        color: get-color('secondary-glare');
      }
    }

    &__content {
      max-width: 720px;
      margin-inline: auto;
    }

    &__summary {
      font-size: get-size('500');
    }
  }
}