.site-footer {
  padding-block: 1rem;
  /*   background-color: #4c9736; */
  color: get-color('dark');

  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-columns .column {
    flex: 1;
    min-width: 200px;
    /* margin-bottom: 20px; */
  }

  .footer-columns h4 {
    margin-bottom: 15px;
    /*  font-size: 16px; */
  }

  .footer-columns ul {
    list-style: none;
    padding: 0;
  }

  .footer-columns ul li a {
    color: get-color('secondary');
    ;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-columns ul li a:hover {
    color: get-color('secondary-glare');
    ;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 0.25rem;
    border-top: 1px solid #444;
    margin-top: 0.25rem;
  }
}