<section class="hero">
  <div class="overlay"></div>
  <div class="wrapper flow">
    <div class="hero__header">
      <h1 class="hero__heading">{{ hero.heading | safe }}</h1>
    </div>

    <div class="hero__content flow">
      <p class="hero__summary">{{ hero.summary }}</p>

      <div class="cluster">
        <a href="#" class="button">Faire un don</a>
        <a href="/contact/" class="button" data-variant='outline'>Devenir bénévole</a>
      </div>
    </div>
  </div>
</section>