<section class="hero">
  <div class="overlay"></div>
  <div class="slides">
    <img class="slide active" src="/images/gallery/img-3.jpeg" alt="">
    <img class="slide" src="/images/gallery/img-5.jpeg" alt="">
    <img class="slide" src="/images/gallery/img-11.jpeg" alt="">
  </div>
  <div class="content">
    <div class="content__inner flow">
      <h1>{{ hero.heading | safe }}</h1>

      <p>{{ hero.summary }}</p>

      <div class="cluster">
        <a href="#" class="button">Faire un don</a>
        <a href="/contact/" class="button" data-variant='outline'>Devenir bénévole</a>
      </div>
    </div>
  </div>
</section>