<footer role="contentinfo" class="site-footer">
  <div class="wrapper">
    <div class="footer-columns color-dark-text">
      <div class="column">
        <h4 class="text-500">Liens rapides</h4>
        <ul>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="/gallery/">Nos actions</a>
          </li>
          <li>
            <a href="/about-us/">À propos</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h4 class="text-500">Ressources</h4>
        <ul>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/faq/">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h4 class="text-500">Contact</h4>
        <p>Email : contact.femmenepleurepas@gmail.com</p>
        <p>Téléphone : +242 06 691 1459</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="color-dark-text">&copy; 2026 Fondation Femme Ne Pleure Pas. Tous droits réservés.</p>
    </div>
  </div>
</footer>