<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        <img class="height-auto" src="/images/logo-femme-ne-pleure-pas.png" alt="">
        <span class="color-dark-text">Unité-Amour-Soutien</span>
      </a>
      <nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary" id="navLinks">
        <ul class="nav__list">
          {% for item in navigation.items %}
            <li>
              <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <div class="cluster">
          <a href="#" class="button">Faire un don</a>
          <a href="/contact/" class="button" data-variant='ghost'>Devenir bénévole</a>
        </div>
      </nav>

      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>